@media only screen and (min-width: 970px) {
  .bg-image {
    background-image: url("../images/flor.jpg");
    background-size: cover;
  }
}

@media only screen and (max-width: 969px) {
  .bg-image {
    background-image: url("../images/flor.jpg");
    background-size: auto;
    background-position: center top;
  }
}
